test-output/
screenshots/
allure-results/
build/

#################################
##Java##
#################################
*.jar
*.war
*.class

###Maven####
target/


###Eclipse###
.classpath
.project
.settings/
bin/